<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>Persons information</div>
<table style="border: solid 1px black">
    <tr>
        <th>Lp.</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th >Wiek</th>
        <th>Pleć</th>
    </tr>
    <tr th:each="person,rowStat : ${personList}">
        <div th:object="${person}">
            <td th:text="${rowStat.count}">0</td>
            <td th:text="*{firstName}">Brak</td>
            <td th:text="*{lastName}">Brak</td>
            <td th:text="*{age}">0</td>
            <td th:text="*{sex}">Brak</td>
        </div>
    </tr>
</table>
<a href="#" th:href="${'/person/add'}">dodaj nową osobę</a>
</body>
</html>