<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To Do</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>Todo's list</div>
<table style="border: solid 1px black">
    <tr>
        <th>Lp.</th>
        <th>Id</th>
        <th>Task</th>
    </tr>
    <tr th:each="todo,rowStat : ${list}">
        <div th:object="${todo}">
            <td th:text="${rowStat.count}">0</td>
            <td th:text="*{id}">Brak</td>
            <td th:text="*{task}">Brak</td>
        </div>
    </tr>
</table>
<a href="#" th:href="${'/todo/add'}">dodaj 'ToDo'</a>
</body>
</html>

